.demo {
  background-color: #d5d5d5;
}
.main-timeline {
  font-family: "Roboto", sans-serif;
  padding: 30px 0;

  &:after {
    content: "";
    display: block;
    clear: both;
  }
  &:before {
    content: "";
    background-color: #555;
    height: 100%;
    width: 5px;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
  }
  .timeline {
    width: 50%;
    padding: 0 100px 0 0;
    margin: 0 10px 20px 0;
    float: left;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      background-color: rgb(214, 212, 212);
      height: 5px;
      width: 80px;
      position: absolute;
      right: 50px;
      top: 50px;
      z-index: -1;
    }
  }

  .timeline-content {
    color: #555;
    background-color: #fff;
    text-align: center;
    padding: 0 0 10px;
    border-radius: 5px;
    display: block;
  }
  .timeline-content:hover {
    text-decoration: none;
  }
  .timeline-year {
    color: #121365;
    background: #2885aa;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 0;
    z-index: 1;
  }
  .timeline-year:before {
    content: "";
    background-color: #fff;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
  }
  .timeline-icon {
    color: #121365;
    font-size: 35px;
  }
  .title {
    color: #fff;
    background: #2885aa;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 0 10px;
    border-radius: 5px 5px 0 0;
  }
  .description {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 15px;
  }
  .timeline:nth-child(even) {
    padding: 0 0 0 100px;
    margin: 0 0 20px 10px;
    float: right;
  }
  .timeline:nth-child(even):before {
    right: auto;
    left: 50px;
  }
  .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -50px;
  }
  .timeline:nth-child(even) .timeline-icon {
    right: auto;
    left: 20px;
  }
  .timeline:nth-child(4n + 2) .timeline-year,
  .timeline:nth-child(4n + 2) .title {
    background: #282aaa;
  }
  .timeline:nth-child(4n + 2) .timeline-icon {
    color: #fb6894;
  }
  .timeline:nth-child(4n + 3) .timeline-year,
  .timeline:nth-child(4n + 3) .title {
    background: #2885aa;
  }
  .timeline:nth-child(4n + 3) .timeline-icon {
    color: #4b49c3;
  }
}

@media screen and (max-width: 767px) {
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(even) {
    width: 100%;
    padding: 95px 0 0;
    margin: 0 0 20px;
    float: none;
  }
  .main-timeline .timeline:before {
    display: none;
  }
  .main-timeline .timeline-year,
  .main-timeline .timeline:nth-child(even) .timeline-year {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 567px) {
  .main-timeline .title {
    font-size: 18px;
  }
}
